<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <%# movile friendly%>
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <%# css stylesheet%>
   <link href="/main.css" rel="stylesheet" type="text/css">

    <title>Puppylink</title>

    <%# jquery before everything%>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

      <%# js%>
     <script type="text/javascript" src="./main.js"></script>

    <%# parallax %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/parallax.js-1.4.2/parallax.js"></script>

    <%# materialize %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <%# Google Icons%>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <%# bootstrap%>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>


  <body>

<%# ===================================%>
<%# header%>
<%# ===================================%>

<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
        <div class="container">
          <div class="navbar-header scrollContainer destination0">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

            <h1 class="logoName">PuppyLink</h1>
          </div>


<%# ===================================%>
<%# main nav %>
<%# ===================================%>

  <nav class="collapse navbar-collapse navbar-right" role="navigation">
      <ul id="nav" class="nav navbar-nav">
          <li class="nav-item"><a class= "navbar-link" href="/">Home</a></li>
          <li class="nav-item"><a class="navbar-link" href="#aboutUs">About us</a></li>
          <li class="nav-item"><a class="navbar-link" href="/newUser">New Users</a></li>
          <li class="nav-item"><a class="navbar-link support transition" href="#contactIndex">Contact Us</a></li>
          <li class="nav-item"><a class= "navbar-link" href="/login">Log In</a></li>
        </ul>
      </nav>
<%# ===================================%>
<%# End of main nav %>
<%# ===================================%>

      </div>
   </header>


<%# ===================================%>
<%# end of the header and top navigation%>
<%# ===================================%>


<%# ===================================%>
<%# parallax section%>
<%# ===================================%>

<section class="parallax-container" style="opacity: 1; transform: translateY(25px);">
  <div class="parallax-window" data-parallax="scroll" </div>
    <data-img src="https://images.unsplash.com/photo-1414277578841-112f6e9398ec?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375">
    <div class="parallax-slider">
      <span class="inspired" style="position:absolute; top: 300px; left: 200px;">Inspired by friends who take care of your dog</span>
    </div>
</section>


<%# ===================================%>
<%# About Us%>
<%# ===================================%>

<h2 class="aboutus">About Us</h2>

<section id="aboutUs" >
      <div class="container">
          <%# <div class="col-md-8 wow animated fadeInLeft scrollContainer destination25">%>
            <a class="aboutTitle animated infinite jello">About us</a>
              <div class="content">
                <p class="middleContent">
                You can easily find places to board your dog per night, and people who would watch the dog in their house for almost the same amount of money than comun boarding place.
                However, as a dog parent I can’t help but wonder how people can really trust on the reviews that you find in their website that other people had posted about this place or that person who took care of your dog.
                The dog certainly can’t tell you if someone on the house/place was mean to him/her. He can’t let you know if he/she got his walk or if he/she was or not on the crate the whole day.
                That’s why this website is about creating a trustworthy networking of dog boarding and puppy play date that involve your friends and people that you know and trust to take care of your dog.</p>

                <p class="middleContent"> Creating a connection with your friends on Facebook, you can decide to add friends who have dogs or that don’t have dogs but they would love to take care of them while you are away.
                You can also create a personal profile for you and your dog, and add a list of preferences where you can describe everything about your dog, preferences on food, treats, toys, places to go off leash.
                In addition, you can find a social calendar with puppy friendly activities around town, take him/her for a walk, grab a beer with your friends, or if you prefer arrange a puppy play date with other dog’s that have similar characteristics than your dog and are also in the puppy networking.
                </p>
              <a href="#">Read more</a>
            </div>
          </div>
        <%# </div>%>
    </section>

<%# ===================================%>
<%# End of about us%>
<%# ===================================%>





  </body>
</html>
