<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <%# movile friendly%>
   <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Puppylink</title>

     <%# Bootstrap CSS%>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

      <%# bootstrap.min%>
       <%# <link rel="stylesheet" href="css/animate.css">%>

  </head>


  <body>

<h1>Login</h1>

    <div class="container">
            <div class="row">
              <div class="col-md-4">
                <form id="existingUserInput">

                  <div class="form-group">
                    <input type="text" class="form-control" id="existingUserName" placeholder="Your Username or your email">
                  </div>

                    <div class="form-group">
                      <input type="password" class="form-control" id="existingInputPassword" placeholder="Password">

                      <input type="checkbox">Remember me
                        <button id="login" type="submit" action="about.html" value="Go to about.html" class="btn btn-primary signIn">Sign in</button>

                    </div>
                  </form>
<%# ----------------------------------%>
<%# Facebook login button%>
<%# ----------------------------------%>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false">
            </div>
                </div>
                  </div>
                    </div>

<%# ----------------------------------%>
<%# Footer%>
<%# ----------------------------------%>

<footer class="footer">
    <nav class="nav navbar-inverse">
      <div class="footer-social">
        <ul>
          <li class="wow animated zoomIn"><a href="https://www.facebook.com/"><i class="fa fa-thumbs-up fa-3x"></i></a></li>
            <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
              <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.instagram.com"><i class="fa fa-instagram fa-3x"></i></a></li>
            </ul>

              <p class="copyright">Copyright &copy; 2016 Design and Developed By Erika Angarita</p>
          </div>
      </nav>
  </footer>
<%# ----------------------------------%>



 <%# bootstrap %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  </body>
</html>
