<!DOCTYPE html>
  <html lang="en">
    <head>
      <% include ./header %>
    </head>


    <%if(thisUser.is_admin){%>
      <div class="profile thumbnail users_profile">

  				<%for(var i=0; i<users.length; i++){%>
            <ul class="collection users_profile">
            <li class="collection-item avatar">
              <i class="fa fa-user fa-3x" aria-hidden="true"></i>
              <span class="title"></span>
              <p><%=users[i].full_name%></p>
              <p><%=users[i].user_name%></p>
							<form class="" action="/users/<%=users[i].id%>/?_method=DELETE" method="POST">
              <button class="delete btn btn-danger" type='submit'><i class="fa fa-trash-o fa-lg">Delete</i></button>
						</form>

            </li>

            </ul>




         </div>
  			 <%}%>
  	<%}else{%><h1>This is for admins only</h1>


      	<%}%>

</div>


  <footer>
    <% include ./footer %>
  </footer>

  </body>
</html>
