/*------------------------------------------*/


/*Header*/


/*------------------------------------------*/

.logoName {
    font-size: 50px;
    color: white;
    margin-left: 20px;
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-window {
    min-height: 700px;
    background: transparent;
    height: 100vh;
}

.parallax-mirror {
    z-index: 1
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
