*{
  margin:0;

}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
    color: white;
}


/*============================*/
/*preloader*/
/*============================*/

#preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*============================*/
/*Battery*/
/*============================*/
.loder-box {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 1px;
    height: 100px;
    left: 50%;
    margin-left: -64px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 128px;
}

.battery {
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #2E2E2E solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
    -moz-animation: charge 5s linear infinite;
    animation: charge 5s linear infinite;
    margin: auto;
}

.battery:after {
    background-color: #2E2E2E;
    border-radius: 1px 1px;
    content: "";
    height: 10px;
    position: absolute;
    right: -5px;
    top: 7px;
    width: 3px;
}

@-webkit-keyframes charge {
    0% {
      box-shadow: inset 0px 0px 0px #2E2E2E;}

    100% {
      box-shadow: inset 60px 0px 0px #2E2E2E;}

}

@-moz-keyframes charge {
    0% {
      box-shadow: inset 0px 0px 0px #2E2E2E;}
    100% {
      box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge {
    0% {
        box-shadow: inset 0px 0px 0px #2E2E2E;
    }
    100% {
        box-shadow: inset 60px 0px 0px #2E2E2E;
    }
}

/*============================*/
/*Header*/
/*============================*/


#navigation {
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 100s;
    /*background-color: rgba(0, 0, 0, .4);*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
}

#navigation.animated-header {
    padding: 20px 20px;

}

.navbar-nav{
  background-color: #222222;
}


.navbar-inverse .navbar-nav> li> a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.logoName {
    font-size: 50px;
    color: white;
    margin: 10px;
    padding: 10px;
   font-family: 'Cormorant Infant', serif;

}

/*============================*/
/*End of Header*/
/*============================*/



/*============================*/
/*Parallax*/
/*============================*/

.parallax {
    background-attachment: fixed;
    /*background-position: center top;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-window {
    min-height: 700px;
    background: transparent;
    height: 100vh;
    width: auto;
}


.inspired {
    color: white;
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;

}


/*============================*/
/*end of Parallax*/
/*============================*/


/*============================*/
/*Social*/
/*============================*/


#social .overlay {
    padding: 60px;
    margin: 60px;
}

.social-button {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social-button li {
    display: inline-block;
}

.social-button li:nth-child(2) {
    margin: 20px 50px;
}

.social-button li a {
    border: 2px solid;
    border-radius: 50%;
    display: block;
    height: 90px;
    line-height: 96px;
    width: 90px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.social-button li a:hover {
    color: #094D92;
    border: 2px solid #094D92;
}



/*============================*/
/*Footer*/
/*============================*/


.page-footer {
    /*padding: 70px 0;*/
    background-color: #2e363d;
}

.footer-content {
    width: 390px;
    margin: 0 auto;
}

.footer-content> div {
    margin-bottom: 40px;

}

.footer-content> div> p:first-child {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.form-control {
    background-color: transparent;
    border: 1px solid #7f7f7f;
}

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.footer-content .footer-social, .newUserNavbar {
    margin: 40px 0 35px;
}

.footer-social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2e363d;

}

.footer-social ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-social ul li a {
    color: #7f7f7f;
    display: inline-block;;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.footer-social ul li a:hover {
    color: #009EE3;
}

.footer-content> p {
    color: #ababab;
    font-size: 12px;
}

.copyright{
  text-align: center;
  padding: 20px;
  /*background-color: #2e363d;*/
}


/*==================================*/
/*index*/
/*==================================*/



/*==================================*/
/*contact us*/
/*==================================*/
#contactIndex{
  padding: 20px;
  margin:20px;
}

.messageUs, .followUs {
    padding-bottom: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    color: #003049;
    background-color: white;
}

#contact {
    height: 80vh;
}

.input-field {
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow: none;
    color: #818181;
    font-size: 16px;
    height: 50px;
}

textarea.form-control {
    width: 100%;
    height: 165px;
}


.contact-details, h3 {
    border-bottom: 1px solid #008ecc;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.contact-details p {
    line-height: 30px;
}

.contact-details p i {
    margin-right: 10px;
}

.contact-details span {
    display: block;
    margin-left: 24px;
}



/*============================*/
/*About us*/
/*============================*/


.aboutTitle{
  padding: 20px 10px;
  margin:30px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 70px;
  color: #003049;
  text-align: center;

}

.middleContent{
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

.aboutus{
  text-align: center;

}


.team {
    font-size: 60px;
    margin: 30px;
    padding: 60px;
    color: #003049;
    height: 25vh;
    font-family: 'Shadows Into Light', cursive;

}


#jack{
  height: 250px;
  width: auto;
  padding:10px;
}

#erika, #aaron{
  align-items: center;
  position: relative;
  left: 120px;
  height: 250px;
  width: auto;
  padding:10px;
}




/*==================================*/
/*new user page*/
/*==================================*/


.newUser{
  margin: 90px;
  padding: 90px;
  clear: both;
  justify-content: center;

}

.login-title{
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 70px;
  padding-top: 70px;
  margin-top: 100px;

}

.newusertitle{
  padding: 20px 10px;
  margin: 20px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 70px;
  color: #003049;
  text-align: center;
}

#full_name, #userName, #password, #email {
padding-top: 10px;

}


.facebook-button{

background-color: #3b5998;

}

.no-materialize{

background-color: #222222;
}

.social-links{
    text-align: center;
}

/*==================================*/
/* page*/
/*==================================*/

.profile{
  padding: 70px;
  margin: 70px;
}

#user-img{
  height: 250px;
  width: auto;
}

.profile-title{
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;

}

.profile_name{

  padding: 30px;
  margin: 30px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  color: #003049;



}

#myCarousel{
  padding: 25px;
  margin:25px;

}

.item{
  display: block;
  width: auto;
  height: 400px;
}


/*==================================*/
/*users */
/*==================================*/


.users_profile{
  margin-top:100px;
  padding:100px 10px;
  text-align: center;
}

.users_view{
  font-size: 20px;
}
